<template>
    <div id="app">
        <div class="container-fruid">
            <router-view name="page-header"></router-view>
            <div class="content">
                <router-view></router-view>
            </div>
        </div>
    </div>
</template>
<script>
import Header from './components/layouts/Header'
export default {
    name: 'App',
    data() {
        return {

        }
    },
    components: {
        Header
    }
}
</script>

<style>

#wp-menu{
    background: #000;
}


</style>
