@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    font-family: 'Mountains of Christmas', cursive;
    font-family: 'Source Code Pro', monospace;
    min-height: 100vh;
    line-height: 23px;
}

#wrapper {
    position: relative;
}

#wp-header {
    background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    z-index: 10;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 0px 5px 0px;
}

.list-menu {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-menu li a {
    display: block;
    text-decoration: none;
    padding: 12px;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
}

.list-network a i {
    color: #fff;
    font-size: 20px;
    padding: 12px 6px;
}

.list-network a i:hover {
    color: #f794a4;
}

@-webkit-keyframes snowflakes-fall {
    0% {
        top: -10%
    }
    100% {
        top: 100%
    }
}

@-webkit-keyframes snowflakes-shake {
    0%, 100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    50% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px)
    }
}

@keyframes snowflakes-fall {
    0% {
        top: -10%
    }
    100% {
        top: 100%
    }
}

@keyframes snowflakes-shake {
    0%, 100% {
        transform: translateX(0)
    }
    50% {
        transform: translateX(80px)
    }
}

.snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial, sans-serif;
    text-shadow: 0 0 5px #000;
    position: fixed;
    top: -10%;
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-animation-name: snowflakes-fall, snowflakes-shake;
    -webkit-animation-duration: 10s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running;
}

.snowflake:nth-of-type(0) {
    left: 1%;
    -webkit-animation-delay: 0s, 0s;
    animation-delay: 0s, 0s
}

.snowflake:nth-of-type(1) {
    left: 10%;
    -webkit-animation-delay: 1s, 1s;
    animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
    left: 20%;
    -webkit-animation-delay: 6s, .5s;
    animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
    left: 30%;
    -webkit-animation-delay: 4s, 2s;
    animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
    left: 40%;
    -webkit-animation-delay: 2s, 2s;
    animation-delay: 2s, 2s
}

.snowflake:nth-of-type(5) {
    left: 50%;
    -webkit-animation-delay: 8s, 3s;
    animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
    left: 60%;
    -webkit-animation-delay: 6s, 2s;
    animation-delay: 6s, 2s
}

.snowflake:nth-of-type(7) {
    left: 70%;
    -webkit-animation-delay: 2.5s, 1s;
    animation-delay: 2.5s, 1s
}

.snowflake:nth-of-type(8) {
    left: 80%;
    -webkit-animation-delay: 1s, 0s;
    animation-delay: 1s, 0s
}

.snowflake:nth-of-type(9) {
    left: 90%;
    -webkit-animation-delay: 3s, 1.5s;
    animation-delay: 3s, 1.5s
}

.snowflake:nth-of-type(10) {
    left: 25%;
    -webkit-animation-delay: 2s, 0s;
    animation-delay: 2s, 0s
}

.snowflake:nth-of-type(11) {
    left: 65%;
    -webkit-animation-delay: 4s, 2.5s;
    animation-delay: 4s, 2.5s
}

#wp-header {
    text-align: center;
}

.nav-header {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
}

.nav-header h1 {
    color: #fff;
    font-size: 75px;
    font-weight: 700;
    text-shadow: 0 .05em .1em #fff;
    animation-name: hover;
    animation-iteration-count: infinite;
    animation-duration: 3.5s;
}

#canvas {
    position: absolute;
}

.timer {
    display: flex;
    justify-content: center;
}

.box {
    position: relative;
    background-color: #FFF;
    color: #1B262C;
    height: 140px;
    width: 140px;
    margin: 4px;
    font-size: 3.2rem;
    text-align: center;
    box-shadow: 2px 12px 18px 4px #333;
}

.box h2 {
    font-size: 4rem;
}

.box h4 {
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
    width: 100%;
    color: #FFF;
    text-transform: uppercase;
    font-size: 1.4rem;
    padding: 8px 0;
    margin: 0;
}

.timer-count-down{
    margin-top: 35px;
}

.images-tet {
    margin-top: 35px;
}

.head-buy-tet {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.head-buy-tet h2 {
    color: #fff;
    font-size: 24px;
    display: inline-block;
    background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
    padding: 6px 12px;
    font-weight: 600;
}

.head-buy-tet a {
    display: block;
    color: #fff;
    text-decoration: none;
    transition: .5s ease;
}

.head-buy-tet a:hover {
    color: #04befe;
    transition: .5s ease;
}

.img-product {
    width: 100%;
    height: 250px;
    cursor: pointer;
    position: relative;
}

.img-product:hover img {
    opacity: 0.3;
}

.img-product:hover .middle {
    opacity: 1;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.text {
    background-color: #04befe;
    color: white;
    font-size: 16px;
    padding: 16px 24px;
    border-radius: 25px;
    font-weight: 600;
}


.img-product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.content-buy-tet {
    margin-top: 15px;
}

a.btn-see-more {
    display: inline-block;
    text-decoration: none;
    background-color: #04befe;
    color: #fff;
    background-color: #04befe;
    white-space: nowrap;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 30px;
    font-weight: 600;
    position: relative;
}

a.btn-see-more:hover{
    padding-right: 50px;
    transition: .3s;
}

.test i{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -8px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    color: #fff;
}

a.btn-see-more:hover i{
    visibility: visible;
    opacity: 1;
    right: 25px;
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    transition: .3s ease;
}

#wp-footer{
    margin-top: 35px;
    background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
    color: #fff;
    padding: 35px 0px;
}

.item-box-footer h2{
    font-size: 20px;
}

.item-box-footer p{
    margin-top: 15px;
    font-size: 16px;
}
.box-item{
    margin-bottom: 24px;
    text-align: justify;
    background: #fff;
    border-radius: 25px 25px 5px 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.box-item a{
    display: block;
    text-decoration: none;
    color: #333;
    margin-top: 10px;
    font-weight: 600;
    font-size: 18px;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.box-item span{
    display: block;
    color: #333;
    font-size: 14px;
    margin-top: 10px;
}

.box-item p{
    margin-top: 10px;
    color: #333;
    display: -webkit-box;
    overflow: hidden;
    font-size: 14px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.box-item-content{
    padding: 5px 15px;
}

#wp-cart-network{
    display: flex;
    align-items: center;
}
#cart{
    margin-right: 25px;
    line-height: 0px;
    position: relative;
}
#cart i{
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

.box-item-buy {
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.box-item-buy .img-product{
    width: 100%;
    height: 275px;
}
.box-item-buy .img-product img{
    border-radius: 8px;
}

.box-item-buy .box-item-content{
    padding: 0;
}

.box-item-buy .box-item-content span{
    font-weight: 600;
    font-size: 16px;
}






