<template>
    <div>
        <p style="color: #333">NOXXjkjsdjk</p>
    </div>
</template>
<script>
    export default {
        data() {
            return {

            }
        }
    }
</script>
